{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% if modifier == "default" %}
<div class="bux-accordion" data-allow-multiple>
	{% for item in items %}
		{% set triggerId = "bux-accordion__trigger--" ~ item.id %}
		{% set panelId = "bux-accordion__panel--" ~ item.id %}
		<h{{heading_level|default("2")}} class="bux-accordion__heading">
			<button id="{{ triggerId }}" type="button" class="bux-accordion__trigger" aria-controls="{{ panelId }}" aria-expanded="false">
				<span class="bux-accordion__icon" aria-hidden="true"></span>
				<span class="bux-accordion__title">
					{{ item.title }}
				</span>
			</button>
		</h{{heading_level|default("2")}}>
		<div id="{{ panelId }}" class="bux-accordion__panel" role="region" aria-labelledby="{{ triggerId }}" hidden>
			{{ item.content }}
		</div>
	{% endfor %}
</div>
{% elseif modifier == "details" %}
{% for item in items %}
<div class="bux-details__wrapper">
<details class="bux-details">
  <summary class="bux-details__summary">{{ item.title }}</summary>
  <div class="bux-details__inner">
		{{ item.content }}
	</div>
</details>
</div>
{% endfor %}
{% endif %}
