{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% if alert_role == 'status' %}
{% set live_type = 'role="status" aria-live="polite"' %}
{% elseif alert_role == 'alert' %}
{% set live_type = 'role="alert" aria-live="assertive"' %}
{% else %}
{% set live_type = '' %}
{% endif %}

<div class="bux-alert bux-alert--{{ alert_type }}" {{ live_type }}>
	<div class="bux-alert__icon" aria-hidden="true"></div>
	<div class="visually-hidden">{{ alert_type_string }}</div>
	<div class="bux-alert__message">
		<div class="bux-alert__message-title">{{ alert_title }}</div>
		{% if alert_text %}
			<div class="bux-alert__message-text">{{ alert_text }}</div>
		{% endif %}
		{% if dismissible %}
			<button class="bux-alert__dismiss"><span class="visually-hidden">Dismiss this alert</span></button>
		{% endif %}
	</div>
</div>
