{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-card {% if modifier %}bux-card--{{ modifier }}{% endif %}">
  <a class="bux-card__link" href="{{ card_url }}" aria-hidden="true" tabindex="-1"></a>
  {% if card_image %}
    {% include base_path ~ directory ~ bux ~ '/twig/image.twig' %}
  {% endif %}
  <div class="bux-card__content">

  {% if taxonomy %}
    <span class="bux-card__taxonomy">
      {{ taxonomy }}
    </span>
  {% endif %}
    
    <h{{ card_heading_level|default(2) }} class="bux-card__heading">
    {% if modifier == "linked-headline" %}
    <a href="{{ card_url }}" target="_blank" class="bux-card__heading--link">
    {% elseif modifier == "storytelling" or modifier == "horizontal-storytelling" %}
    <a href="{{ card_url }}" target="_blank" class="bux-card__heading--storytelling-link">
    {% endif %}
      <span>{{ card_heading }}</span>
      {% if modifier == "linked-headline" or modifier == "storytelling" or modifier == "horizontal-storytelling" %}
    </a>
    {% endif %}
    </h{{ card_heading_level|default(2) }}>
    
    {% if card_body %}
      <div class="bux-card__body">
        {{ card_body }}
      </div>
    {% endif %}
    {% if modifier == "linked-headline" %}
    {% elseif modifier == "storytelling" or modifier == "horizontal-storytelling" %}
      <span class="bux-card__read-time">{{ read_time }}</span>
    {% elseif card_cta %}
        {% if modifier == "featured" %}
            <a class="bux-button bux-button--alt" href="{{ card_url }}">{{ card_cta }}</a>
        {% else %}
            <div class="bux-card__cta">
                <a href="{{ card_url }}">
                    <span>{{ card_cta }}</span>
                </a>
            </div>
        {% endif %}
    {% endif %}
  </div>
</div>
