{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-colors">
	{% for group in groups %}
		<h2 class="bux-colors__group-label">{{ group.label }}</h2>
		<ul class="bux-colors__group bux-colors__group--{{ group.label }}">
			{% for color in group.colors %}
				<li class="bux-colors__item">
					<div class="bux-colors__swatch" style="background-color: {{ color.value }};"></div>
					<div class="bux-colors__label">
						<code class="bux-colors__code">{{ color.name }}</code>
						<code class="bux-colors__code">{{ color.value }}</code>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
