{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% set random_seed = random() %}
{% set carousel_uniqueid = carousel_id ~ "-" ~ random_seed %}

<section class="bux-hero {% if background %}bux-hero--{{background}}{% endif %} bux-hero--{{card_orientation}}{% if cards|length > 1 %} bux-hero--carousel{% endif %}{% if ratio %} bux-hero--{{ratio}}{% endif %}"{% if (cards|length > 1) %} aria-roledescription="carousel" aria-label="{{carousel_aria_label}}"{% endif %}>

    {% if (cards|length > 1) %}

    <button class="bux-hero__button bux-hero__button--left" type="button" aria-controls="{{carousel_uniqueid}}-items" aria-label="Previous Slide"><span class="icon icon-chevron-left" aria-hidden="true"></span></button>
    <button class="bux-hero__button bux-hero__button--right" type="button" aria-controls="{{carousel_uniqueid}}-items" aria-label="Next Slide"><span class="icon icon-chevron-right" aria-hidden="true"></span></button>

    {% endif %}

    <div id="{{carousel_uniqueid}}-items" class="bux-hero__carousel-items"{% if (cards|length > 1) %} aria-live="off"{% endif %}>
    {% for card in cards %}
        <div id="{{ carousel_uniqueid }}-tab-{{ loop.index }}" class="bux-hero__container {% if loop.index == 1 %} showing{% endif %}"{% if (cards|length > 1) %} role="tabpanel" aria-roledescription="slide" aria-label="{{ loop.index }} of {{ cards.length }}"{% endif %}>

            <div class="bux-hero__content">

                <h{{ hero_heading_level|default(2) }} class="bux-hero__header">
                    <span>{{ card.hero_header }}</span>
                </h{{ hero_heading_level|default(2) }}>
                
                {% if card_orientation != 'card-full' %}
                <div class="bux-hero__subheader">
                    <span>{{ card.hero_subheader }}</span>
                </div>
                <a class="bux-button bux-button--alt" href="{{ card.button_url }}">{{ card.button_text }}</a>
                {% else %}
                <a class="bux-hero__subheader bux-text-link">{{ card.hero_subheader }}</a>
                {% endif %}

            </div>
            <div class="bux-hero__image-container">

                    {% if card.hero_image %}

                        <div class="bux-hero__image bux-hero__image--{{ratio}} ">

                        {% set image_url = card.hero_image %}
                        {% set image_alt_text = card.hero_image_alt %}

                        {% include base_path ~ directory ~ bux ~ '/twig/image.twig' %}

                    {% elseif card.hero_video_mp4 %}
                    <div class="bux-hero__image">
                    <video aria-label="{{card.hero_aria_label}}" tabindex="-1" loop="" autoplay="" playsinline="" muted="">
                        <source src="{{card.hero_video_mp4}}" type="video/mp4">
                    </video>
                    <button type="button" class="bux-hero__video-button">
                        <span class="visually-hidden">Pause video</span>
                        <div class="bux-hero__video-button-icon bux-hero__video-button-icon--play" aria-hidden="true">
                            <span class="bux-icon icon-play-fill" aria-hidden="true"></span>
                        </div>
                        <div class="bux-hero__video-button-icon bux-hero__video-button-icon--pause" aria-hidden="true">
                            <span class="bux-icon icon-pause-fill" aria-hidden="true"></span>
                        </div>
                    </button>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    {% if (cards|length > 1) %}
    <div class="bux-hero__tabs" role="tablist" aria-label="Slides">
        {% for card in cards %}
        <button id="{{carousel_uniqueid}}-tabbutton-{{ loop.index }}" class="bux-hero__tab {% if loop.index == 1 %}bux-hero__tab--active{% endif %}" type="button" role="tab" aria-label="Slide {{ loop.index }}" aria-controls="{{carousel_uniqueid}}-tab-{{ loop.index }}" tabindex="-1">
            <span class="visually-hidden">Slide {{ loop.index }}</span>
        </button>
        {% endfor %}
    </div>
    {% endif %}
</section>
