{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% set random_seed = random() %}
{% set radio_id = "radio-" ~ random_seed %}


<div class="bux-radio">
    <fieldset class="bux-radio__fieldset" id="bux-radio__{{ radio_id }}" role="radiogroup" aria-describedby="{% if "error" in modifier %} bux-radio__error-message {% endif %}bux-checkbox__helper-text-{{ random_seed }}"
    {% if required %} required {% endif %}
    {% if "error" in modifier %} aria-invalid="true" {% endif %}>
    <legend class="bux-radio__legend">{{ legend }}{% if required %} <span class="bux-text-field__required">{{required}}</span>{% endif %}</legend>
    <span class="bux-radio__helper-text" id="bux-radio__helper-text-{{ random_seed }}">{{ helper_text }}</span>
    <div class="bux-radio__input-spacer">
        {% for item in items %}
            {% set random_seed_option = random() %}
            {% set radio_option_id = "bux-radio__option-" ~ random_seed_option %}
            <div class="bux-radio__option{% if modifier %} bux-radio__option--{{ modifier }}{% endif %}">
                <input type="radio" id="{{ radio_option_id }}" name="{{ radio_id }}" {% if "disabled" in modifier %} disabled {% endif %}>
                <label for="{{ radio_option_id }}">{{ item.text }}</label>
            </div>
        {% endfor %}
    </div>
    {% if "error" in modifier %}
        <span class="bux-radio__error-message" id="bux-radio__error-message-{{ random_seed }}">{{ error_helper_text }}</span>
    {% endif %}
</fieldset>
</div>
