{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

{% if "password" in modifier %}
    {% set text_field_id = "password-input-" %}
{% else %}
    {% set text_field_id = "text-input-" %}
{% endif %}

{% set random_seed = random() %}
{% set text_field_id = text_field_id ~ random_seed %}

<div class="bux-text-field">
    <label class="bux-text-field__label" for="bux-text-field__{{ text_field_id }}">{{ input_label}}{% if required %} <span class="bux-text-field__required">{{required}}</span>{% endif %}</label>
    <span class="bux-text-field__helper-text" id="bux-text-field__helper-text-{{ random_seed }}">{{ helper_text }}</span>
    <input 
        id="bux-text-field__{{ text_field_id }}" 
        class="bux-text-field__input{% if modifier %} bux-text-field__input--{{ modifier }}{% endif %}" 
        {% if required %} required {% endif %} 
        {% if "disabled" in modifier %} disabled="disabled" {% endif %} 
        {% if "error" in modifier %} aria-invalid="true" {% endif %} 
        {% if "password" in modifier %} type="password" {% endif %}
        placeholder="{{ placeholder_text }}"
        aria-describedby="{% if "error" in modifier %}bux-text-field__error-message-{{ random_seed }} {% endif %}bux-text-field__helper-text-{{ random_seed }}" 
    />
    {% if "password" in modifier %} 
        <button class="bux-text-field__password-icon bux-text-field__password-icon--view bux-tooltip__button" id="bux-text-field__password-toggle-{{ random_seed }}" title="Show Password"></button> 
    {% endif %}
    {% if "error" in modifier %}
        <span class="bux-text-field__error-message" id="bux-text-field__error-message-{{ random_seed }}">{{ error_helper_text }}</span>
    {% endif %}
</div>
