{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-tile{% if modifier %} bux-tile--{{modifier}}{% endif %}">
    <a class="bux-tile__link" href="{{ tile_url }}" aria-hidden="true" tabindex="-1"></a>

    {% if tile_img_url %}
        {% set image_url = tile_img_url %}
        {% set image_alt_text = tile_img_alt_text %}
        {% set class = 'bux-image--' ~ image_ratio %}
        {% include base_path ~ directory ~ bux ~ '/twig/image.twig' %}
        <div class="bux-tile__content">
    {% elseif ui_icon %}
        <div class="bux-tile__content">
            <span class="bux-tile__ui_icon {{ui_icon}}" aria-hidden="true"></span>
    {% elseif tile_std_icon_url %}
        <div class="bux-tile__content">
            {% set image_url = tile_std_icon_url %}
            {% set image_alt_text = tile_std_icon_alt_text %}
            {% set class = 'bux-tile__std_icon' %}
            {% include base_path ~ directory ~ bux ~ '/twig/image.twig' %}
    {% else %}
        <div class="bux-tile__content">
    {% endif %}

    {% if h_level %}<h{{ h_level|default(2) }} class="bux-tile__header">{% endif %} 
    <a class="bux-tile__text" href="{{ tile_url }}">
        {{tile_text}}
    </a>
    {% if h_level %}</h{{ h_level|default(2) }}>{% endif %}

    {% if tile_body %}
      <div class="bux-tile__body"> {{ tile_body }} </div>
    {% endif %}  
  </div>
</div>
