{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div id="masthead" class="bux-header{% if background_color %} bux-header--{{ background_color }}{% endif %}">
	<div class="bux-container bux-grid">
		{# Left column. #}
		<div class="bux-header__col bux-header__col--left bux-grid__cell bux-grid__cell--12 bux-grid__cell--8@md bux-grid__cell--9@xl">
			<div class="bux-header__site-name-container">
				{% if site_name_parent  %}
					<div class="bux-header__site-name-parent">
						{{ site_name_parent }}
					</div>
				{% endif %}
				<div class="bux-header__site-name">
				{% if site_home_url %}
					<a href={{ site_home_url }}>{{ site_name }}</a>
				{% else %}
					{{ site_name }}
				{% endif %}	
				{% if site_name_slogan %}
					<div class="bux-header__site-name-slogan">
						{{ site_name_slogan }}
					</div>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
