{#
Buckeye UX - version 0.10.0
Copyright (C) 2021 The Ohio State University
#}

<div class="bux-panel">
	<h{{ panel_heading_level|default(2) }} class="bux-panel__heading">Example Headline</h{{ panel_heading_level|default(2) }}>
	<p>{{ panel_text }}</p>
	<a href="{{ link_url }}" class="bux-button">{{ link_text }}</a>
</div>
